.form__go {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

.form__go__wrapper {
  width: 400px;
}

.form__go__wrapper button {
  width: 100%;
}

.go-to-upload {
  display: flex;
  justify-content: center;
  padding-top: 16px;
}

.go-to-upload span {
  margin-right: 4px;
}