* {
  font-family: 'Roboto', sans-serif;
}

html {
  scroll-behavior: smooth;
}

img {
  padding: 24px 0;
  display: block;

  max-height: 300px;
  min-width: 240px;
  max-width: 600px;
}

.configMath {
  display: none;
}